<div>
  <h2 style="color: steelblue;">SPEL: Raad het cijfer</h2>
  De computer genereert een willekeurig cijfer van 1 tot 100. 
  U krijgt 10 beurten om het cijfer te raden.
</div>
<div *ngIf="aantalBeurten > 10" style ="color: red;">
  <p>Uw beurten zijn om.</p>
</div>

<div>
  <br>
  <button mat-raised-button color="accent" *ngIf="eindeSpel" (click)="reset()">start nieuw spel</button>
  <br><br>
</div>

<div>
    <mat-form-field appearance="fill">
      <mat-label>Doe een gok:</mat-label>
      <input matInput id="gokVeld" type="number" [disabled]="eindeSpel" #inputveld>
    </mat-form-field>

    <!--<input id="gokVeld" type="number" [disabled]="eindeSpel"  #inputveld>-->

    <button mat-raised-button color="primary" matTooltip="contoleer hier uw gok" [disabled]="eindeSpel" (click)="valideerGok(inputveld.value)" (click)="inputveld.value=''" 
      style="margin-left: 5px">
      Check jouw gok
    </button>
</div>

<p>{{feedback}}</p>

<p id="comment"></p>